@import "includes/variables";
@import "font-awesome/scss/font-awesome.scss";
@import "includes/bootstrap";
// Other custom files
@import "includes/mixins";
@import "includes/header";
@import "includes/navbar";
@import "includes/carousel";
@import "includes/page-contents";
@import "includes/footer";
