body {
  padding-top: (2 * ($spacer-y * .75) / 1rem * $font-size-root) + $brand-image-height;
}

#features, #impact, #signup {
  padding-top: $spacer-y * 1.5;
  padding-bottom: $spacer-y * 1;
  h1 {
    font-size: 3em;
    color: $gray;
    line-height: 1.3;
    padding-bottom: $spacer-y;
  }
  
  @include media-breakpoint-up(md) {
    padding-top: $spacer-y * 2.5;
    padding-bottom: $spacer-y * 3;
    h1 {
      font-size: 5em;
      padding-bottom: $spacer-y * 1.5;
    }
  }
}
